# {{ ansible_managed }}

[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
ExecStart=jupyterhub --upgrade-db -f /etc/jupyterhub/jupyterhub_config.py
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
